:root {
    --nav-col-bg: #46ACC2;
    --nav-col-fg: #FFFFFF;
    --border-rad: 0.25em;
    --font-stack: Calibri, 'Open Sans', sans-serif;
    --pane-pad: 0.25em;
    --pane-margin: 0.25em;
    --temp-bg-red: lightcoral;
    --temp-bg-blue: lightblue;
}

body {
    padding: 0;
    margin: 0;
}

/*body * {*/
/*    box-sizing: border-box;*/
/*}*/

.header{
    background-color: gray;
    grid-area: header;
}

#pokemon_logo{
    display: block;
    margin: auto;
}

.navigation_bar{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #46ACC2;
    padding: 0.5em;
    align-items: center;
}
.navigation_bar a {
    color: var(--nav-col-fg);
    text-decoration: none;
}

.navigation_brand{
    font-size: large;
}

.navigation_list{
    display: flex;
    list-style: none;
    overflow: hidden;
}

.navigation_list > li {
    margin-right: 2em;
}

#Menu{
    grid-area: menu;
}

#Pokemon_details{
    grid-area: details;
    text-align: center;
}

#Pokemon_of_the_Day{
    grid-area: the_day;
    text-align: center;
}

#Menu, #Pokemon_details, #Pokemon_of_the_Day{
    background-color: lightcoral;
    margin: 5px;
    /*padding-top: 1em;*/
    /*padding-bottom: 1em;*/
}

.grid_container {
    display: grid;
    width: 100%;

    grid-template-columns: 1fr 2fr 8fr 2fr 1fr;
    /*grid-template-columns: repeat(8, 1fr);*/
    grid-template-rows: 1fr;
    grid-template-areas: "header header header header header"
    "nav nav nav nav nav"
    ". content content content .";
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "menu details details details details the_day";
}

.navigation_hamburger {
    height: 1.5em;
    width: 1.5em;
}

.navigation_hamburger > img {
    width: 100%;
}

.navigation_hamburger {
    display: none;
}

@media only screen and (max-width: 1000px) {
    body{
        width: 100%;
    }
    .grid_container {
        display: grid;
        width: 100%;

        grid-template-columns: 2fr 8fr 2fr ;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
                "header header header"
                "nav nav nav"
                "content content content";
    }
}

@media screen and (max-width: 900px){
    .navigation_bar, .navigation_list {
        flex-direction: column;
    }

    .navigation_list {
        display: none;
    }
    .navigation_hamburger_list{
        display: flex;
        flex-direction: column;
    }
    .navigation_hamburger {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }

    .content{
        display: flex;
        flex-direction: column-reverse;
    }

    #Pokemon_of_the_Day_content > img {
        width: 100%;
        max-width: 50%;
        object-fit: cover;
    }
}

/* part 2 */
#Pokemon_of_the_Day_description{
    text-align: justify;
    padding: 5px;
    font-weight: normal;
}

/* part 3 */

.clickedPokemonContainer img{
    width: 100%;
    object-fit: cover;
}

.pokemonInformation {
    margin: 10px;
    background-color: #46ACC2;
    display: flex;
    flex-direction: column;
}

.pokemonContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clickedPokemonContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "weak detail strong";
}

#weakAgainst{
    grid-area: weak;
}

#strongAgainst{
    grid-area: strong;
}

#detailsOfPokemon{
    grid-area: detail;
}

#pokemon_content img{
    width: 100%;
    object-fit: cover;
}

.pokemonContainer > div{
    width: 120px;
}

#Pokemon_of_the_Day_content > img {
    width: 100%;
    object-fit: cover;
}

/*.pokemonContainer img:hover{*/
/*    background-color: lightblue;*/
/*}*/

/*.clickedPokemonContainer img:hover{*/
/*    background-color: lightblue;*/
/*}*/

/*#Pokemon_of_the_Day_content img:hover{*/
/*    background-color: lightblue;*/
/*}*/

